<nav class='navbar'>
    <div class='container-fluid'>
        <div class='navbar-header'>
            <ul class='nav navbar-nav'>
                <li>
                    <a href='/'><h3>Home</h3></a>
                </li>
                <li><a href='#'>Senator</a></li>
            </ul>
        </div>
    
    </div>
</nav>